/*FONTS*/
@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Medium.eot');
  src: url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/Raleway-Medium.woff2') format('woff2'),
    url('fonts/Raleway-Medium.woff') format('woff'),
    url('fonts/Raleway-Medium.ttf') format('truetype'),
    url('fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-LightItalic.eot');
  src: url('fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/Raleway-LightItalic.woff2') format('woff2'),
    url('fonts/Raleway-LightItalic.woff') format('woff'),
    url('fonts/Raleway-LightItalic.ttf') format('truetype'),
    url('fonts/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-MediumItalic.eot');
  src: url('fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/Raleway-MediumItalic.woff2') format('woff2'),
    url('fonts/Raleway-MediumItalic.woff') format('woff'),
    url('fonts/Raleway-MediumItalic.ttf') format('truetype'),
    url('fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Light.eot');
  src: url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/Raleway-Light.woff2') format('woff2'),
    url('fonts/Raleway-Light.woff') format('woff'),
    url('fonts/Raleway-Light.ttf') format('truetype'),
    url('fonts/Raleway-Light.svg#Raleway-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/PlayfairDisplay-Regular.eot');
  src: url('fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('fonts/PlayfairDisplay-Regular.woff') format('woff'),
    url('fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
    url('fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/PlayfairDisplay-Bold.eot');
  src: url('fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
    url('fonts/PlayfairDisplay-Bold.woff') format('woff'),
    url('fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
    url('fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/PlayfairDisplay-BoldItalic.eot');
  src: url('fonts/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
    url('fonts/PlayfairDisplay-BoldItalic.woff') format('woff'),
    url('fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
    url('fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/PlayfairDisplay-Italic.eot');
  src: url('fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
    url('fonts/PlayfairDisplay-Italic.woff') format('woff'),
    url('fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
    url('fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

/*END OF FONTS*/

/*Navigation*/

.navcontainer {
  padding-left: 20px;
  position: fixed;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-start;
  width: 100%;
  height: 80px;
  background-color: white;
}

.aloha {
  align-self: center;
}

.shoppingcart {
  align-self: center;
}

.navigation li a {
  color: #e2574c;
  font-family: Raleway;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline;
}

li {
  list-style-type: none;
}

.navigation li a:hover {
  color: #b64036
}

.navigation li a {
  text-align: center;
  vertical-align: text-top;
}

/*TOP BANNER*/

.topbanner {
  display: flex;
  flex-flow: column-reverse;
  justify-content: center;
  margin-top: +40px;
  background-image: url(images/flower-bkgd.jpg);
  height: 600px;
  width: auto;
  vertical-align: bottom;
  overflow: hidden;
}

.lady {
  width: 280px;
  max-height: 100%;
  margin: 0 auto;
  margin-bottom: -100px;
}


.bannertxt {
  color: white;
}

.centered {
  color: white;
  left: 50%;
  margin-top: 150px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px #666666;
}

/*END TOP BANNER*/

/*Handcrafted Styles*/

.handcraftedstyles {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

/*END OF STYLES*/

/*Categories*/

.topcatbox {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.item7 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.item7 img {
  width: auto;
  max-height: 300px;
}

.item7 h2 {
  position: absolute;
  font-size: 30px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px #666666;
}

.item8 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.item8 img {
  width: auto;
  max-height: 300px;
}

.item8 h2 {
  position: absolute;
  font-size: 30px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px #666666;
}

.item9 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.item9 img {
  width: auto;
  max-height: 300px;
}

.item9 h2 {
  position: absolute;
  font-size: 30px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px #666666;
}

.bottomcatbox {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.item10 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.item10 img {
  width: auto;
  max-height: 300px;
}

.item10 h2 {
  position: absolute;
  font-size: 30px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px #666666;
}

.item11 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.item11 img {
  width: auto;
  max-height: 300px;
}

.item11 h2 {
  position: absolute;
  font-size: 30px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px #666666;
}

.item12 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.item12 img {
  width: auto;
  max-height: 300px;
}

.item12 h2 {
  position: absolute;
  font-size: 30px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px #666666;
}

/*END OF CATEGORIES*/

/*Most Loved Items*/
.lovedbox {
  padding-right: 5%;
  padding-left: 5%;
}

.lovedcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.container img {
  display: flex;
  width: auto;
  height: 200px;
}

.item12 {
  display: flex;
  flex-flow: column;
  flex-basis: auto;
  align-self: flex-start;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  line-height: 1px;
  height: min-content;
  width: 100%;
}

/*END OF Most Loved*/



/*Start of waves flexbox*/

.wavebox {
  margin-top: 20px;
  margin-bottom: 20px;
}

.waves {
  display: flex;
  background-image: url(images/wave-bkgd.jpg);
  background-position: bottom;
  text-align: center;
  font-size: 30px;
  line-height: 20px;
  width: 100%;
  height: 400px;
  align-items: center;
  flex-direction: column;
  color: white;
  text-shadow: 2px 2px 4px #666666;
}

form {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 25px;
}

input {
  font-size: 20px;
  border-radius: 25px;
  border: none;
  padding: 10px;
  width: 400px;
}

button {
  display: inline;
  border-radius: 25px;
  background-color: #e2574c;
  color: white;
  font-family: Raleway;
  font-size: 18px;
  font-weight: bold;
}

/*END OF waves flexbox*/

/*Start of Footer*/
/*footer*/

.footercontainer {
  margin-top: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-family: Playfair Display;
  color: #969696;
  background-color: #242424;
  height: 250px;
}

.socialmedia a {
  display: flex;
  color: white;
  font-size: 16px;
  width: auto;
  text-decoration: none;
  margin-top: 20px;
  margin-right: 20px;
  line-height: 0.8px;
  letter-spacing: 1px;
}

.socialmedia a:hover {
  color: #b64036
}

.address {
  display: flex;
  font-family: Playfair Display;
  justify-content: flex-start;
  flex-direction: column;
  align-content: flex-start;
  line-height: 0.8px;
  margin-top: 20px;
}

.address .white {
  color: white;
}

/*TEXT EDITING*/

body {
  color: #2d2d2d;
  font-family: Raleway;
}

p {
  font-family: Raleway;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
}

h1 {
  font-family: PlayfairDisplay;
  font-size: 50px;
  letter-spacing: 5px;
  text-align: center;
}

h2 {
  font-family: Raleway;
  font-size: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h3 {
  font-family: PlayfairDisplay;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #e2574c;
}

h4 {
  font-family: Raleway;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #969696;
}

.italic {
  font-family: PlayfairDisplay;
  font-style: italic;
  font-weight: lighter;
}

.bold {
  font-family: PlayfairDisplay;
  font-weight: bold;
}
